1. Unique Words in a Sentence

In [5]:
sentence = input("Enter sentence: ")

# Split sentence into the words
words = sentence.split()

# Remove duplicates words using set
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'powerful', 'python', 'and', 'easy', 'is'}

 2. Highest Salary from Employee Data

In [9]:

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Initialize with the first employee
employee_names = list(employees.keys())
highest_employee = employee_names[0]
highest_salary = employees[highest_employee]

# Compare each salary to find the highest
for name, salary in employees.items():
  if salary > highest_salary:
    highest_salary = salary
    highest_employee = name

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

3. Find Maximum and Minimum Values

In [20]:
numbers = [45, 22, 89, 10, 66]

max = numbers[0]
min = numbers[0]

# Compare each element with the min and max values
for num in numbers:
    if num > max:
        max = num
    if num < min:
        min = num

print("List:", numbers)
print("Max:", max)
print("Min:", min)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

4. Count Products Above a Price Threshold

In [11]:
prices = [450, 1200, 899, 1500, 300]

counter = 0

for price in prices:
    if price > 1000:
        counter = counter + 1

print("Products above 1000: ", counter)

Products above 1000:  2

5. Calculate Attendance Percentage

In [12]:

attendance = ["P", "P", "A", "P", "P"]

# Count number of present
present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

# Total number of days
total_days = len(attendance)

# Calculate attendance percentage
attendance_percentage = (present_count / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

6. Remove Duplicate Phone Numbers

In [15]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_phone = set(phone_numbers)

print("Unique phone numbers:", unique_phone)

Unique phone numbers: {9876543210, 9123456789}

7. Count Character Frequency

In [19]:
# Input string
text = "python"

# Dictionary to store character frequency
char_count = {}

# Loop through each character in the string
for ch in text:
    if ch in char_count:
        char_count[ch] += 1  # Increment count if already exists
    else:
        char_count[ch] = 1   # Initialize count if not exists

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

8. Convert List to Tuple

In [22]:
my_list = [10, 20, 30]

my_tuple = tuple(my_list)

print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

9. Check if a Key Exists in a Dictionary

In [24]:
employees = {
    "Ratan": 75000,
    "Anisha": 68000
}

key_check = "Anisha"

if key_check in employees:
  print("Employee exists")
else:
  print("Employee does not exist")

Employee exists

 10. Calculate Average Marks

In [28]:
marks = [70, 69, 80, 85]

total_marks = 0

for mark in marks:
    total_marks += mark

average_marks = total_marks / len(marks)

print("Average Marks:", average_marks)

Average Marks: 76.0